*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
   font-family: Helvetica;
}

html,body{
   height: 100%;
   width: 100%;
}

#leftpage2{
   transform: translateX(-90%)  rotate(-14deg) ;
   transform-origin: bottom right;
}
#rightpage2{
   transform: translateX(100%)  rotate(15deg) ;
   transform-origin: bottom left;
}
#firsth1page3 span ,#secondh1page3 span{
   display: inline-block;
}
#firsth1page3 ,#secondh1page3 {
overflow: hidden;
}
#movingh1{
   animation: moving 5s infinite alternate;
}
@keyframes moving{
   0%{
      transform: translateX(50%);
   }
   100%{
      transform: translateX(-50%);
   }
}